/* -*- mode: c -*- */
/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
// #include <dt-bindings/zmk/bt.h>
// #include <dt-bindings/zmk/ext_power.h>

#define XXX &none

/ {
    chosen {
        zmk,character_map = &charmap_us;
    };
    macros {
        dbl_l: dbl_l {
          compatible = "zmk,behavior-macro";
          label = "ZM_dbl_l";
          #binding-cells = <0>;
          wait-ms = <30>;
          tap-ms = <40>;
          bindings = <&kp L &kp L>;
        };
    };
    combos {
        compatible = "zmk,combos";
        combo_l_mr {
            timeout-ms = <50>;
            // layers = <0>;
            key-positions = <22 23>;
            bindings = <&dbl_l>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// 0
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXX           &kp N7        &kp N8        &kp N9        &kp N0        &kp N5                                    &kp N6        &kp N1        &kp N2        &kp N3        &kp N4        XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           &kp V         &kp M         &kp L         &kp C         &kp P                                     &kp B         &key_repeat   &kp U         &kp O         &kp Q         XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           &kp S         &kp T         &kp R         &kp D         &kp Y                                     &kp F         &kp N         &kp E         &kp A         &kp I         XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           &kp X         &kp K         &kp J         &kp G         &kp W         XXX           XXX           &kp Z         &kp H         &kp COMMA     &kp DOT       &kp SEMI      XXX
// └─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┘
                                               XXX           &kb SPACE     &kp BSPC      &kp ENTER     &to 0         &to 1         &to 2         &to 3
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

        lower_layer {
            bindings = <
// 1
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXX           XXX           XXX           XXX           XXX           XXX                                       XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX                                       XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX                                       XXX           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX           XXX           XXX           XXX           XXX           XXX           XXX           XXX           XXX
// └─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┘
                                               XXX           XXX           XXX           XXX           XXX           XXX           XXX            XXX
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

        raise_layer {
            bindings = <
// 2
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXX           XXX           XXX           XXX           XXX           XXX                                       XXX           XXX           XXX           XXX           XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX                                       XXX           &kp N7        &kp N8        &kp N9        XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX                                       XXX           &kp N4        &kp N5        &kp N6        XXX           XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           XXX           XXX           XXX           XXX           XXX           XXX           XXX           XXX           &kp N1        &kp N2        &kp N3        XXX           XXX
// └─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┘
                                               XXX           XXX           XXX           XXX           XXX           &kp N0        &to 0         XXX
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

        querty_layer {
            bindings = <
// 3
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                           ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
     XXX           &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                                    &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           &kp Q         &kp W         &kp E         &kp R         &kp T                                     &kp Y         &kp U         &kp I         &kp O         &kp P         XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                           ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           &kp A         &kp S         &kp D         &kp F         &kp G                                     &kp H         &kp J         &kp K         &kp L         &kp ;         XXX
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
     XXX           &kp Z         &kp X         &kp C         &kp V         &kp B         XXX           XXX           &kp N         &kp M         &kp COMMA     &kp DOT       &kp SLASH     XXX
// └─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────┘
                                               XXX           XXX           &to 0         &mo 2         XXX           &kp SPACE     XXX           XXX
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

    };
};
