/* -*- mode: c -*-
 *
 * Copyright (c) 2024 antlers <antlers@illucid.net>
 *
 * SPDX-License-Identifier: MIT
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the “Software”), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *
 */

#define ZMK_TAP_DANCE_STRINGIFY(x) #x
#define ZMK_TAP_DANCE(name, layer) \
    name: name { \
            compatible = "zmk,behavior-tap-dance"; \
            label = ZMK_TAP_DANCE_STRINGIFY(ZM_ ## name); \
            #binding-cells = <0>; \
            tapping-term-ms = <200>; \
            bindings = <&mo layer>, <&to layer>; \
        };

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
// #include <dt-bindings/zmk/bt.h>
// #include <dt-bindings/zmk/ext_power.h>

#define XXX &none
#define ___ &trans

#define BASE 0
#define SYM 1
#define SYM_LOCKED 2
#define EXT 3
#define EXT_LOCKED 4
#define FUN 5
#define FUN_LOCKED 6
#define NUM 7
#define NUM_LOCKED 8
#define QRT 9

/ {
    behaviors {
        ZMK_TAP_DANCE(td_fun, FUN)
    //     ZMK_TAP_DANCE(td_ext, EXT)
    //     ZMK_TAP_DANCE(td_sym, SYM)
    //     ZMK_TAP_DANCE(td_num, NUM)
    };
    macros {
        dbl_l: dbl_l {
          compatible = "zmk,behavior-macro";
          label = "ZM_dbl_l";
          #binding-cells = <0>;
          wait-ms = <30>;
          tap-ms = <40>;
          bindings = <&kp L &kp L>;
        };
    };
    combos {
        compatible = "zmk,combos";
        combo_l_mr {
            timeout-ms = <50>;
            layers = <0>;
            key-positions = <22 23>;
            bindings = <&dbl_l>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = < &to QRT &kp N7 &kp N8 &kp N9 &kp N0 &kp N5 &kp N6 &kp N1 &kp N2 &kp N3 &kp N4 XXX XXX &kp V &kp M &kp L &kp C &kp P &kp B &key_repeat &kp U &kp O &kp Q XXX &to BASE &kp S &kp T &kp R &kp D &kp Y &kp F &kp N &kp E &kp A &kp I &kp Q XXX &kp X &kp K &kp J &kp G &kp W &td_fun &td_fun &kp Z &kp H &kp COMMA &kp DOT &kp SQT XXX XXX XXX XXX XXX XXX XXX XXX XXX >;
        };

        sym {
            bindings = < ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp RBKT &kp LBKT ___ ___ ___ &to SYM_LOCKED &sk LALT &sk LMETA &sk LSHIFT &sk LCTRL ___ &kp SEMI &kp RPAR &kp LPAR ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp RBRC &kp LBRC ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ >;
        };

        sym_locked {
            bindings = < ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp RBKT &kp LBKT ___ ___ ___ ___ &sk LALT &sk LMETA &sk LSHIFT &sk LCTRL ___ &kp SEMI &kp RPAR &kp LPAR ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp RBRC &kp LBRC ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ >;
        };

        ext {
            bindings = < ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &to EXT_LOCKED &sk LALT &sk LMETA &sk LSHIFT &sk LCTRL ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ >;
        };

        ext_locked {
            bindings = < ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &sk LALT &sk LMETA &sk LSHIFT &sk LCTRL ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ >;
        };

        fun {
            bindings = < ___ &kp F7 &kp F8 &kp F9 &kp F10 &kp F5 &kp F6 &kp F1 &kp F2 &kp F3 &kp F4 ___ ___ ___ ___ ___ ___ ___ &kp F12 &kp F7 &kp F8 &kp F9 ___ ___ &to FUN_LOCKED &sk LALT &sk LMETA &sk LSHIFT &sk LCTRL ___ &kp F11 &kp F4 &kp F5 &kp F6 ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp F10 &kp F1 &kp F2 &kp F3 ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ >;
        };

        fun_locked {
            bindings = < ___ &kp F7 &kp F8 &kp F9 &kp F10 &kp F5 &kp F6 &kp F1 &kp F2 &kp F3 &kp F4 ___ ___ ___ ___ ___ ___ ___ &kp F12 &kp F7 &kp F8 &kp F9 ___ ___ ___ &sk LALT &sk LMETA &sk LSHIFT &sk LCTRL ___ &kp F11 &kp F4 &kp F5 &kp F6 ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp F10 &kp F1 &kp F2 &kp F3 ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ >;
        };

        num {
            bindings = < ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp N7 &kp N8 &kp N9 ___ ___ &to NUM_LOCKED ___ ___ ___ ___ ___ &kp N0 &kp N4 &kp N5 &kp N6 &kp N0 ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp N1 &kp N2 &kp N3 ___ ___ ___ ___ ___ ___ ___ &kp N0 ___ ___ >;
        };

        num_locked {
            bindings = < ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp N7 &kp N8 &kp N9 ___ ___ ___ ___ ___ ___ ___ ___ &kp N0 &kp N4 &kp N5 &kp N6 &kp N0 ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ &kp N1 &kp N2 &kp N3 ___ ___ ___ ___ ___ ___ ___ &kp N0 ___ ___ >;
        };

        qrt {
            bindings = < &to BASE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS ___ &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp BSPC &to QRT &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp SQT ___ &kp Z &kp X &kp C &kp V &kp B ___ ___ &kp N &kp M &kp COMMA &kp DOT &kp SLASH ___ ___ ___ ___ ___ ___ ___ ___ ___ >;
        };

    };
};
